In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Data/cms_medicare.csv")

In [3]:
df

,provider_id,agency_name,street_address,city,state,zip_code,total_episodes_non_lupa,distinct_users_non_lupa
0,337290,"AMERICARE CERTIFIED SPECIAL SERVICES, INC CHHA",5923 STRICKLAND AVENUE,BROOKLYN,NY,11234,3148,2310
1,58217,"BRADBOURNE HEALTHCARE, INC",16029 ARROW HIGHWAY SUITE A,IRWINDALE,CA,91706,620,297
2,58419,"INSIGHT HEALTH CARE PROVIDERS, INC","500 S KRAEMER BLVD, #240",BREA,CA,92821,19,15
3,108167,"D & N HOME HEALTH SERVICES, INC.",1140 W 50 ST STE 305,HIALEAH,FL,33012,208,63
4,109023,PSN HEALTH CARE CORP,17670 NW 78 AVE STE 213,MIAMI GARDENS,FL,33015,59,18
...,...,...,...,...,...,...,...,...
395,117022,SUNCREST HOME HEALTH,"7840 ROSWELL ROAD, BLDG 100, SUITE 215",ATLANTA,GA,30350,478,389
396,117023,CENTRAL GEORGIA HOME HEALTH,3780 EISENHOWER PARKWAY,MACON,GA,31206,1980,1508
397,117025,TRINITY HOME HEALTH,1501 ANTHONY ROAD,AUGUSTA,GA,30904,956,590
398,117027,GENTIVA HEALTH SERVICES,1575 NORTHSIDE DRIVE NW SUITE 470,ATLANTA,GA,30318,4884,3342
399,117031,UNIVERSITY HOME HEALTH,"4106 COLUMBIA ROAD, SUITE 102",MARTINEZ,GA,30907,522,459

In [4]:
df.shape

(400, 8)

In [9]:
df.dtypes.value_counts()

int64     4
object    4
dtype: int64

In [13]:
df2 = df['agency_name'].str.count(' ')

In [29]:
df[df["city"].str.contains("ATLANTA")]["total_episodes_non_lupa"].mean()

3949.6666666666665

In [26]:
df[df["city"].str.contains("ATLANTA")]

,provider_id,agency_name,street_address,city,state,zip_code,total_episodes_non_lupa,distinct_users_non_lupa
388,117000,VISITING NURSE HEALTH SYSTEM,"5775 GLENRIDGE DRIVE, NE, SUITE E200",ATLANTA,GA,30328,6487,5012
395,117022,SUNCREST HOME HEALTH,"7840 ROSWELL ROAD, BLDG 100, SUITE 215",ATLANTA,GA,30350,478,389
398,117027,GENTIVA HEALTH SERVICES,1575 NORTHSIDE DRIVE NW SUITE 470,ATLANTA,GA,30318,4884,3342

In [87]:
df[df["city"].str.contains("ATLANTA")]["total_episodes_non_lupa"].agg(['sum','mean','max'])

sum     11849.000000
mean     3949.666667
max      6487.000000
Name: total_episodes_non_lupa, dtype: float64

## Guardar columnas en una variable

In [88]:
columas = ['agency_name', 'city', 'total_episodes_non_lupa']

In [92]:
dfColum = df[columas]

In [93]:
dfColum

,agency_name,city,total_episodes_non_lupa
0,"AMERICARE CERTIFIED SPECIAL SERVICES, INC CHHA",BROOKLYN,3148
1,"BRADBOURNE HEALTHCARE, INC",IRWINDALE,620
2,"INSIGHT HEALTH CARE PROVIDERS, INC",BREA,19
3,"D & N HOME HEALTH SERVICES, INC.",HIALEAH,208
4,PSN HEALTH CARE CORP,MIAMI GARDENS,59
...,...,...,...
395,SUNCREST HOME HEALTH,ATLANTA,478
396,CENTRAL GEORGIA HOME HEALTH,MACON,1980
397,TRINITY HOME HEALTH,AUGUSTA,956
398,GENTIVA HEALTH SERVICES,ATLANTA,4884
399,UNIVERSITY HOME HEALTH,MARTINEZ,522

In [95]:
dfColum.shape

(400, 3)